---
layout: default
---

  <section class="home-about">
<div class="home">

  <h1 class="home-bio">{{site.paragraph}}</h1>
  <img src="{{site.image}}">
</div>
  </section>
  <section class="home-about">
<h2>About Me </h2>
  <p> {{site.description}} </p>

  </section>

  <section class="home-about">
<h2>Projects</h2>
<div class="projects">

{% for communities in site.communities %}
<h3> - {{ communities.title }} </h3>
<p> {{ communities.content }} </p>
{% endfor %}

</div>



  </section>

  <section class="home-about">
<h2>Work</h2>
<ul>
{% for work in site.work %}
<li><a  href="{{ work.url | prepend: site.baseurl }}">  {{ work.title }} </a></li>
<a class="archive-date" >{{ work.date | date: '%B %Y' }}</a>
  {% endfor %}

</ul>

  </section>

</div>
