
/**
 * Page content
 */

 .home {
   @include span-columns(8);
@include shift(2);

@media screen and (max-width: $break-large) {
  display: block;
  margin: 0;
  width: 100%;

}

  .home-bio {
    font-family: $header-font;
font-size: 2.3em;
line-height: 1.3em;
padding: 0 0 1em 0;

@media screen and (max-width: $break-large) {
  font-size: 1.8em;

}

  }
 }

 .home-about {
   @include outer-container;
   padding: 2em 0;
   h2 {
     @include span-columns(2);

     @media screen and (max-width: $break-large) {
       display: block;
       margin: 1em 0 ;
       width: 100%;

     }

   }

   .projects {

     @include span-columns(8);
     list-style: none;
     margin: 0 0 8px 0;

        h3 {
          @include span-columns(9);

          @media screen and (max-width: $break-large) {
            display: block;
            margin: 1em 0;
            width: 100%;

          }
        }

        p {
          @include span-columns(10);
               line-height: 1.7em;

               @media screen and (max-width: $break-large) {
                 display: block;
                 margin: 0;
                 width: 100%;

               }

        }

   }

  ul {
    @include span-columns(7);
    list-style: none;
    margin: 0 0 8px 0;

    @media screen and (max-width: $break-large) {
      @include span-columns(11);

    }


        li {
          @include span-columns(10);

        }
   }
   p {
     @include span-columns(8);
          line-height: 1.7em;

          @media screen and (max-width: $break-large) {
            display: block;
            margin: 0;
            width: 100%;

          }
   }
 }

.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
