<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}


    <script src="/js/all.js"></script>
    <script type=text/javascript src="https://raw.githubusercontent.com/HubSpot/pace/v1.0.0/pace.min.js"></script>
    <script src="/js/exampleUsage.js"></script>
    <script type=text/javascript src=https://platform.twitter.com/widgets.js></script>


  </body>
</html>
